* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(30, 54%, 90%);
  font-family: 'Outfit';
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  background-color: white;
  padding: 2rem;
  margin: 2rem;
  border-radius: .5rem;
}

img {
  border-radius: .5rem;
  margin-bottom: 1rem;
}

h1, h2 {
  font-family: 'Young Serif';
  font-weight: 100;
}

h2 {
  color: hsl(14, 45%, 36%)
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
}

.preparation-container {
  background-color: hsl(332, 58%, 94%);
  padding: 1.5rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.preparation-list li {
  margin: 1rem;
}

.preparation-list li strong {
  font-weight: 600;
}

.preparation-container h3 {
  font-weight: 600;
  color: hsl(332, 51%, 25%)
}

.ingredients-container {
  margin-bottom: 1rem;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.ingredients-container li {
  margin: 1rem;
}

.instructions-container {
  margin-bottom: 1rem;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.instructions-container li {
  margin: 1rem;
}

.nutrition-container h2 {
  margin-bottom: 1rem;
}

.nutrition-container table {
  display: flex;
  align-items: center;
  margin: 1rem;
  width: 100%;
  margin-left: 4rem;
}

tr {

}

td {
  padding: 1rem;
  margin-left: 100px;
}

